:root{
  --dark_weak: #0F172B;
  --dark_strong: #303030;
  --dark_input: #293548;
  --dark_text: #92A1B6;
  --dark_btn: #CCCCCC;
  --dark_field: #1E293B;
  --dark_head: #293548;
  --dark_highlight: #2D4258;
}
